


# Introduction into Pandas

*   Pandas is Python's data analysis library
*   'Pandas' is derived from "panel data", which can have multiple observations of multiple individuals â€” Wikipedia
*   Used for analysing data tables (i.e. csv files)
*   Applied for data cleaning, analysis and preprocessing
*   Panda's API can be found here: https://pandas.pydata.org/pandas-docs/stable/reference/index.html 
*   Pandas is built on top of the NumPy package
*   Data in pandas is often used to prepare data for statistical analysis in SciPy, plotting functions from Matplotlib, and machine learning algorithms in Scikit-learn.

Now let's import the pandas library first (as well as numpy)

In [ ]:
import pandas as pd
import numpy as np

## Input and Output


Input:
*   `pd.read_csv('path/to/folder')`
*   `pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')`
*   `pd.read_html('http://url/...')`

Output:
* `df.to_csv('/path/to/CSV_Sample.csv')`
* `df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')`

# Assignment
**PIMA Indian Diabetes dataset**

This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. All patients here are females at least 21 years old of Pima Indian heritage.
The datasets consists of several medical predictor variables one target variable, Outcome that indicates whether a person developed diabetes or not. Predictor variables includes the number of pregnancies the patient has had, their BMI, insulin level, age, and so on. The outcome is whether a person has diabetes or not.

*Acknowledgements*  
Smith, J.W., Everhart, J.E., Dickson, W.C., Knowler, W.C., & Johannes, R.S. (1988). Using the ADAP learning algorithm to forecast the onset of diabetes mellitus. In Proceedings of the Symposium on Computer Applications and Medical Care (pp. 261--265). IEEE Computer Society Press.

**Importing local files into Google Colab**  
Run the cell below and then browse through your local file system and select the pima.csv file.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving diabetes_mod.csv to diabetes_mod.csv

In [ ]:
pima = pd.read_csv("diabetes_mod.csv")

### 1. Inspect the head and tail of the dataset

In [ ]:
pima.head()

   Pregnancies  Glucose  BloodPressure  ... DiabetesPedigreeFunction Age  Outcome
0            6      148           72.0  ...                    0.627  50        1
1            1       85           66.0  ...                    0.351  31        0
2            8      183           64.0  ...                    0.672  32        1
3            1       89           66.0  ...                    0.167  21        0
4            0      137           40.0  ...                    2.288  33        1

[5 rows x 9 columns]

In [ ]:
pima.tail()

     Pregnancies  Glucose  ...  Age Outcome
763           10      101  ...   63       0
764            2      122  ...   27       0
765            5      121  ...   30       0
766            1      126  ...   47       1
767            1       93  ...   23       0

[5 rows x 9 columns]

### 2. How many rows does the dataset have?

In [ ]:
#Solution
pima.shape[0]

768

In [ ]:
pima.Pregnancies.count()

768

In [ ]:
len(pima.index)

768

### 3. What was the highest number of pregnancies?

In [ ]:
#Solution
pima['Pregnancies'].max()

17

### 4. What was the BMI of the woman with the highest number of pregnancies?

In [ ]:
#Solution
pima.BMI[pima['Pregnancies']==pima['Pregnancies'].max()]

159    40.9
Name: BMI, dtype: float64

In [ ]:
pima['BMI'].loc[pima['Pregnancies'] == 17]

159    40.9
Name: BMI, dtype: float64

### 5. Add a column 'Age_group' to the dataframe. 
This column, should contain categorical values indicating the age groups
'0-10','11-20','21-30','31-40','41-50', '51-60', '61-70', '71-80', '81-90', '91-100', '100+'   
Hint: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html

In [ ]:
#Solution
pima['Age_group'] = pd.cut(pima.Age, bins=[0, 10, 20, 30, 40, 50, 60,70,80,90,100,120],
                                     labels=['0-10','11-20','21-30','31-40', '41-50', '51-60', '61-70', '71-80', 
                                            '81-90', '90-100', '100+'])
pima['Age_group']

0      41-50
1      31-40
2      31-40
3      21-30
4      31-40
       ...
763    61-70
764    21-30
765    21-30
766    41-50
767    21-30
Name: Age_group, Length: 768, dtype: category
Categories (11, object): ['0-10' < '11-20' < '21-30' < '31-40' ... '71-80' < '81-90' < '90-100' < '100+']

In [ ]:
pima['Age_group'] = pd.cut(pima.Age, bins=[0, 10, 20, 30, 40, 50, 60,70,80,90,100,120],
                                     labels=['0-10','11-20','21-30','31-40', '41-50', '51-60', '61-70', '71-80', 
                                            '81-90', '90-100', '100+'])

In [ ]:
pima['Age_group'].value_counts()

21-30     417
31-40     157
41-50     113
51-60      54
61-70      25
81-90       1
71-80       1
100+        0
90-100      0
11-20       0
0-10        0
Name: Age_group, dtype: int64

In [ ]:
pd.cut(pima.Age, bins=[10, 20, 30, 40, 50, 60,70,80,90,100],
                                     labels=['11-20','21-30','31-40', '41-50', '51-60', '61-70', '71-80', 
                                            '81-90', '90-100']).value_counts()

21-30     417
31-40     157
41-50     113
51-60      54
61-70      25
81-90       1
71-80       1
90-100      0
11-20       0
Name: Age, dtype: int64

### 6. How many women are in each Age_group?

In [ ]:
#Solution
pima['Age_group'].value_counts(sort=False)

0-10        0
11-20       0
21-30     417
31-40     157
41-50     113
51-60      54
61-70      25
71-80       1
81-90       1
90-100      0
100+        0
Name: Age_group, dtype: int64

In [ ]:
by_agegroup = pima.groupby('Age_group')
by_agegroup

### 7. Display the mean BloodPressure in each Age_group. 
Is it descending or ascending with age?

In [ ]:
#Solution
by_agegroup['BloodPressure'].mean()

Age_group
0-10            NaN
11-20           NaN
21-30     65.638554
31-40     70.724359
41-50     75.455357
51-60     80.055556
61-70     78.080000
71-80      0.000000
81-90     74.000000
90-100          NaN
100+            NaN
Name: BloodPressure, dtype: float64

### 8. How many women have diabetes?

In [ ]:
#Solution
pima['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
pima.Outcome[pima['Outcome']==1].sum()

268

In [ ]:
pima.Outcome.sum()

268

In [ ]:
pima.Outcome[pima['Outcome']==1].count()

268

### 9. What is the mean BMI in diabetic and non-diabetic women?

In [ ]:
#Solution
pima.groupby(['Outcome'])['BMI'].mean()

Outcome
0    30.304200
1    35.142537
Name: BMI, dtype: float64

In [ ]:
out_group = pima.groupby(['Outcome'])
out_group['BMI'].mean()

Outcome
0    30.304200
1    35.142537
Name: BMI, dtype: float64

### 10. Display the summary statistics of the variable 'BloodPressure'?

In [ ]:
#Solution
pima['BloodPressure'].describe()

count    764.000000
mean      69.467277
std       18.746854
min        0.000000
25%       64.000000
50%       72.000000
75%       80.000000
max      122.000000
Name: BloodPressure, dtype: float64

### 11. Display a contingency table between age_group and outcome

In [ ]:
pd.crosstab(pima.Age_group, pima.Outcome)

Outcome      0   1
Age_group
21-30      327  90
31-40       81  76
41-50       49  64
51-60       23  31
61-70       18   7
71-80        1   0
81-90        1   0

In [ ]:
ct = pd.crosstab(pima.Age_group, pima.Outcome)
ct = ct.assign(percent = round(ct.iloc[:,1] / (ct.iloc[:,0] + ct.iloc[:,1]),2)  )
ct

Outcome      0   1  percent
Age_group
21-30      327  90     0.22
31-40       81  76     0.48
41-50       49  64     0.57
51-60       23  31     0.57
61-70       18   7     0.28
71-80        1   0     0.00
81-90        1   0     0.00

### 12. Can you find out in the pandas crosstab documentation, how to display the contingency table as percentage relative to all women in the dataset? Alternatively, just google :-)

In [ ]:
#Solution
pd.crosstab(pima.Age_group, pima.Outcome, normalize='all') #Normalizes over each row

Outcome           0         1
Age_group
21-30      0.425781  0.117188
31-40      0.105469  0.098958
41-50      0.063802  0.083333
51-60      0.029948  0.040365
61-70      0.023438  0.009115
71-80      0.001302  0.000000
81-90      0.001302  0.000000

**Missing Data**  
### 13. Check if there are missing values in the dataframe columns.

In [ ]:
#Solution
pima.isnull().sum()

Pregnancies                  0
Glucose                      0
BloodPressure                4
SkinThickness               32
Insulin                     35
BMI                          0
DiabetesPedigreeFunction     0
Age                          0
Outcome                      0
Age_group                    0
dtype: int64

In [ ]:
pima.isna().sum()

Pregnancies                  0
Glucose                      0
BloodPressure                4
SkinThickness               32
Insulin                     35
BMI                          0
DiabetesPedigreeFunction     0
Age                          0
Outcome                      0
Age_group                    0
dtype: int64

### 14. Check the unique values 
in the columns 'SkinThickness', 'Insulin', and 'BloodPressure'. Looking at these outputs, do you think the number of missing values which you obtained in the cell above is correct?

In [ ]:
#Solution
pima['SkinThickness'].unique()
#contains 0, 'not available' and nan which are all missing values

array(['35', '29', '0', '23', '32', '45', nan, '19', '47', '38', '30',
       '41', '33', '26', '15', '36', '11', '31', '37', '42', '25', '18',
       '24', '39', '27', '21', '34', '10', '60', '13', '20', '22', '28',
       '54', '40', '51', '56', '14', '17', '50', '44', '12', '46',
       'not available', '16', '7', '52', '43', '48', '8', '49', '63',
       '99'], dtype=object)

In [ ]:
#Solution
pima['Insulin'].unique()
#contains 0, nan, not available values --> missing

array(['0', '94', '168', '88', '543', nan, '846', '175', '230', '83',
       '96', '235', '146', '115', '140', '110', '245', '54', '192', '207',
       '70', '240', '82', '36', '23', '300', '342', '304', '142', '128',
       '38', '100', '90', '270', '71', '125', '176', '48', '64', '228',
       '76', '220', '40', '152', '18', '135', '495', '37', '51', '99',
       '145', '225', '49', '50', '92', '325', '63', '284', '119', '204',
       '155', '485', '53', '114', '105', '285', '156', '78', '130', '55',
       'not available', '58', '160', '210', '318', '44', '190', '280',
       '87', '271', '129', '120', '478', '56', '32', '744', '370', '45',
       '194', '680', '402', '258', '375', '150', '67', '57', '116', '278',
       '122', '545', '75', '74', '182', '360', '215', '184', '42', '132',
       '148', '180', '205', '85', '231', '29', '68', '52', '255', '171',
       '73', '108', '43', '167', '249', '293', '66', '465', '89', '158',
       '84', '72', '59', '81', '196', '415', '275', '165', '579', '310',
       '61', '474', '170', '277', '60', '14', '95', '237', '191', '328',
       '250', '480', '265', '193', '79', '86', '326', '188', '106', '65',
       '166', '274', '77', '126', '330', '600', '185', '25', '41', '272',
       '321', '144', '15', '183', '91', '46', '440', '159', '540', '200',
       '335', '387', '22', '291', '392', '178', '127', '510', '16', '112'],
      dtype=object)

In [ ]:
pima['BloodPressure'].unique()
#contains '0', which is also a missing value

array([ 72.,  66.,  64.,  40.,  74.,  50.,   0.,  70.,  96.,  92.,  80.,
        60.,  nan,  84.,  30.,  88.,  90.,  94.,  76.,  82.,  75.,  58.,
        78.,  68., 110.,  56.,  62.,  85.,  86.,  48.,  44.,  65., 108.,
        55., 122.,  54.,  52.,  98., 104.,  95.,  46., 102., 100.,  61.,
        24.,  38., 106., 114.])

In [ ]:
pima.apply(lambda col: (col.unique()))

Pregnancies                 [6, 1, 8, 0, 5, 3, 10, 2, 4, 7, 9, 11, 13, 15,...
Glucose                     [148, 85, 183, 89, 137, 116, 78, 115, 197, 125...
BloodPressure               [72.0, 66.0, 64.0, 40.0, 74.0, 50.0, 0.0, 70.0...
SkinThickness               [35, 29, 0, 23, 32, 45, nan, 19, 47, 38, 30, 4...
Insulin                     [0, 94, 168, 88, 543, nan, 846, 175, 230, 83, ...
BMI                         [33.6, 26.6, 23.3, 28.1, 43.1, 25.6, 31.0, 35....
DiabetesPedigreeFunction    [0.627, 0.35100000000000003, 0.672, 0.16699999...
Age                         [50, 31, 32, 21, 33, 30, 26, 29, 53, 54, 34, 5...
Outcome                                                                [1, 0]
Age_group                   ['41-50', '31-40', '21-30', '51-60', '61-70', ...
dtype: object

### 15. Count how many values of 0 (numeric) and '0' (character) are in each column.

In [ ]:
pima[pima == 0].count()
#0 for pregancies and outcome makes sense, for the others it is missing

Pregnancies                 111
Glucose                       5
BloodPressure                31
SkinThickness                 0
Insulin                       0
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
Age_group                     0
dtype: int64

In [ ]:
pima[pima == '0'].count()

Pregnancies                   0
Glucose                       0
BloodPressure                 0
SkinThickness               191
Insulin                     333
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
Age_group                     0
dtype: int64

In [ ]:
pima[pima == 'not available'].count()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               4
Insulin                     6
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
Age_group                   0
dtype: int64

### 16. Create a copy of pima and make sure that all missing values are encoded as np.nan in it. 

Hint: Check out the Pandas replace()-function.

In [ ]:
pima_clean = pima.copy()

In [ ]:
pima_clean['Glucose'].replace(0, np.nan, inplace=True)
pima_clean['BloodPressure'].replace(0, np.nan, inplace=True)
pima_clean['SkinThickness'].replace([0, 'not available', '0'], np.nan, inplace=True)
pima_clean['Insulin'].replace([0, 'not available', '0'], np.nan, inplace=True)

In [ ]:
pima.isna().sum()

Pregnancies                  0
Glucose                      0
BloodPressure                4
SkinThickness               32
Insulin                     35
BMI                          0
DiabetesPedigreeFunction     0
Age                          0
Outcome                      0
Age_group                    0
dtype: int64

In [ ]:
pima_clean.isna().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
Age_group                     0
dtype: int64

### 17. How many rows have now 3 or more missing values?

In [ ]:
#Solution
pima_clean.isna().sum(axis = 1).value_counts()
#33 rows have 3 missing values

0    393
2    200
1    142
3     33
dtype: int64

### 18. Exclude rows with missing values
Exclude those rows with 3 or more missing values (Hint: Requires minimum 8 values)

In [ ]:
#Solution
pima_clean.dropna(thresh = len(pima_clean.columns)-2, inplace=True)
pima_clean.isna().sum(axis = 1).value_counts()

0    393
2    200
1    142
dtype: int64

### 19. Save and export
And last but not least, save your pre-processed dataset and export it. We will need it tomorrow.  


files.download('sample.csv')

In [ ]:
#Solution
pima_clean.to_csv('pima_clean.csv', index=False)

In [ ]:
files.download('pima_clean.csv')

That's it for today! Please let us know if you have any questions.